body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #CBE6EF;
}


#noButton {
	position: absolute;
	margin-left: 150px;
	transition: 0.5s;
    
}

#yesButton {
	position: absolute;
	margin-right: 150px;
    
}

.header_text,  .text {
	font-family: 'Nunito';
	font-size: 50px;
	font-weight: bold;
	color: #CBE6EF;
	text-shadow: 0 0 2px black;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 40px; 
	margin-left: 20px;
   
}

.btn {
	background-color: #80c3d8;
	color: white;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border: 2px solid #ffffff;
	border-radius: 12px;
	transition: background-color 0.3s ease;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.btn:hover {
	background-color: #FAF9F6;
}

.gif_container {
	display: flex;
	justify-content: center;
	align-items: center;
}

